{% layout "layout.liquid" %}
{% block content %}

<div class="show-page-card">
    <h2>{{ gift.giftName }}</h2>
    <img src="{{gift.img}}" />

    <div class="show-page-card-info">
        <p>To: {{ gift.recipient }}</p>
        <p>Price: ${{ gift.price }}</p>
        <p>Where to buy: {{ gift.whereToBuy }}</p>
        <p>
            {% if gift.isBought == true %}
                 Already bought
            {% else %}
                Not yet bought
            {% endif %}
            </p>
        <p>
        {% if gift.isWrapped == true %}
             Already wrapped
        {% else %}
            Not yet wrapped
        {% endif %}
        </p>
    </div>

    <div class="show-page-card-buttons">

        <a href="/gifts/{{ gift._id }}/edit"><button>Edit Gift</button></a>

        <!-- Trigger/Open The Delete Gift Modal -->
        <button id="myBtn">Delete Gift</button>

        <!-- The Delete Gift Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you'd like to delete this gift?</p>
                <form action="/gifts/{{ gift._id }}?_method=DELETE" method="post">
                    <input type="submit" value="Delete Gift">
                </form>
            </div>
        </div>
        
        <!-- <form action="/gifts/{{ gift._id }}?_method=DELETE" method="post">
            <input type="submit" value="Delete Gift">
        </form> -->
    </div>

</div>

<div class="show-page-bottom">
    <a href="/gifts"><button>Back to Main</button></a>
</div>

{% endblock %}